// Variables
$dark-color: #3c3c3c;
$light-color: #fff;
$text-color: #000;

//breakpoints
$tablet: 767px;
$phone: 480px;

//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

* {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
}

// CSS reset
body {
  margin: 0;
}

div {
  box-sizing: border-box;
}
