.slideshow__pictures {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;

  .slideshow__controls {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 20%;
  }
}
