@import './def.scss';

.slideshow__hidden {
  display: none;
}

.slideshow__loading {
  width: 100vw;
  height: 100vh;
  background: $light-color;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .slideshow__logo {
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    letter-spacing: normal;
    color: $dark-color;
  }

  .slideshow__loader {
    // width: 160px;
    position: absolute;
    top: 0;
    height: 5px;
    background-color: $dark-color;
    animation: loader 2s infinite;

    @keyframes loader {
      0% {
        width: 0;
        left: 0;
      }

      50% {
        width: 100%;
        left: 0;
      }

      51% {
        width: 100%;
        right: 0;
        left: auto;
      }

      100% {
        width: 0;
        right: 0;
        left: auto;
      }
    }
  }
}

.slideshow__pictures {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;

  .slideshow__controls {
    width: 475px;
    height: 195px;
    background-color: $light-color;
    padding: 25px;
    position: absolute;
    bottom: 0;
    left: 15%;

    .slideshow__title {
      color: $text-color;
      letter-spacing: 15%;
      margin: 0;
      font-size: 32px;
    }

    .slideshow__date {
      color: $text-color;
      letter-spacing: 25%;
      margin: 10px 0 0;
      font-size: 12px;
    }

    .slideshow__button {
      width: 150px;
      height: 65px;
      position: absolute;
      background-color: $dark-color;
      color: $light-color;
      font-size: 12px;
      border: 0;
      text-transform: uppercase;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &--next {
        @extend .slideshow__button;
        top: 30px;
        right: -100px;
      }

      &--prev {
        @extend .slideshow__button;
        bottom: 10px;
        left: -100px;
      }
    }
  }
}
