@import './def.scss';

.slideshow__pictures {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;

  .slideshow__controls {
    width: 475px;
    height: 195px;
    background-color: $light-color;
    padding: 25px;
    position: absolute;
    bottom: 0;
    left: 15%;

    .slideshow__title {
      color: $text-color;
      letter-spacing: 15%;
      margin: 0;
      font-size: 32px;
    }

    .slideshow__date {
      color: $text-color;
      letter-spacing: 25%;
      margin: 10px 0 0;
      font-size: 12px;
    }

    .slideshow__button {
      width: 150px;
      height: 65px;
      position: absolute;
      background-color: $dark-color;
      color: $light-color;
      font-size: 12px;
      border: 0;
      text-transform: uppercase;
      cursor: pointer;

      &--next {
        @extend .slideshow__button;
        top: 30px;
        right: -100px;
      }

      &--prev {
        @extend .slideshow__button;
        bottom: 10px;
        left: -100px;
      }
    }
  }
}
